@import "tailwindcss";

@layer components{
    .custom-container{
        @apply max-w-[1200px] mx-auto 
    }
    

}

@theme{
    --color-primary-color: #0466C8;
    --color-secondary-color:#0353A4;
}

/* Keyframe for fade-in effect */
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px); /* Optional: Adds a slight upward movement */
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .hidden-element {
    filter: blur(10px);
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s ease-out;
  }
  
  .visible {
    filter: blur(0);
    opacity: 1;
    transform: translateY(0);
  }
  


@layer base {
    body {
        font-family: 'Roboto', sans-serif;
    }
}

@layer utilities {
    .hover-child-border-pink:hover > * {
        --tw-border-opacity: 1;
        border-color: rgb(190 24 93 / var(--tw-border-opacity));
    }
}

@keyframes scroll {
    from { transform: translateX(0%); }
    to { transform: translateX(-50%); }
  }


.custom-border {
    border-image: linear-gradient(to right, #ec4899, #c026d3) 1;
  }

  html {
    scroll-behavior: smooth;
  }
  
